@model AcademiaCerului.Core.Objects.Post

<div class="col-md-12">
    <div class="card">
        <img class="card-img-top" src="~/Content/images/kingfisher-2363879_1920.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="postDate">@Model.PostedOn.ToConfigLocalTime()</h5>
            <h1 class="card-title">@Html.PostLink(Model)</h1>
            <h5 class="card-subtitle mb-2 text-muted">Categorie: @Html.CategoryLink(Model.Category)</h5>
            <h5 class="card-subtitle mb-2 text-muted">Tag: @Helpers.Tags(Html, Model.Tags)</h5>
            <p class="card-text">@Html.Raw(Model.ShortDescription)</p>
            <div class="readMoreBtn">
                <button class="btn btn-primary"
                        @Html.ActionLink("Citeste", "Post", "Blog", new { year = Model.PostedOn.Year, month = Model.PostedOn.Month, day = Model.PostedOn.Day })
                </button>
            </div>
        </div>
    </div>
</div>

<br />